<h2>creador de producto</h2>
<form action="/api/products" method="post">
Title: <input type="text" name="title" id="title">
Price: <input type="number" name="price" id="price">
stock: <input type="number" name="stock" id="stock">
Description: <input type="text" name="description" id="description">
<input type="submit" value="enviar">
</form>