<!DOCTYPE html>
<html>
<head>
  <title>Productos en Tiempo Real</title>
</head>
<body>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        <li>
            <h2>Zapato</h2>
            <p>Descripci贸n: Zapato nike talla 40</p>
            <p>Precio: $50,000</p>
            <p>C贸digo: j1</p>
            <p>Stock disponible: 1 unidad</p>
        </li>
        <li>
            <h2>Camisa</h2>
            <p>Descripci贸n: Camisa manga corta</p>
            <p>Precio: $10,000</p>
            <p>C贸digo: j2</p>
            <p>Stock disponible: 5 unidades</p>
        </li>
    </ul>
</body>
</html>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
